@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

@media screen and (max-width: 768px) {
  .navbar .nav-links {
    display: none !important;
  }
  .navbar .hamburger-menu {
    display: flex !important;
  }

  .section-1 .d-grid {
    grid-template-columns: 1fr !important;
    grid-row-gap: 30px;
  }

  .section-3 .d-flex {
    flex-direction: column;
  }
  .section-3 .d-flex .contactUs-text {
    width: 100%;
    margin-bottom: 2.5rem;
  }
  .section-3 .d-flex .contact-form-container {
    width: 100% !important;
  }

  .footer .d-flex {
    flex-direction: column;
  }
  .footer .column-1, .footer .column-2 {
    margin-bottom: 2.5rem;
  }
}
*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: #F3FDFF;
}

.navbar {
  height: 8vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: tranparent;
  display: flex;
  align-items: center;
  z-index: 10;
}
.navbar .navbar-container {
  width: 80%;
  max-width: 1080px;
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .navbar-container .nav-logo-active {
  display: none;
}
.navbar .navbar-container .nav-links {
  display: flex;
  align-items: center;
}
.navbar .navbar-container .nav-links .nav-item {
  margin-left: 2rem;
}
.navbar .navbar-container .nav-links .nav-item a {
  color: #fff;
  font-size: 1rem;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  height: 25px;
  width: 40px;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  right: 0;
  z-index: 11;
}
.hamburger-menu div {
  height: 3px;
  width: 100%;
  background: #fff;
  transition: 0.3s ease;
}

.navbar-active {
  background: #fff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}
.navbar-active .nav-logo-active {
  display: block !important;
}
.navbar-active .nav-logo {
  display: none !important;
}
.navbar-active .nav-links li a {
  color: #292929 !important;
}
.navbar-active .hamburger-menu div {
  background: #292929;
}

.header {
  position: relative;
  height: 720px;
  width: 100%;
  background: url("/images/img-header.jpg") center;
  background-size: cover;
  background-repeat: no-repeat;
}
.header::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
.header .container {
  position: relative;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
}
.header .container h1 {
  color: #fff;
  font-size: 3.1rem;
  font-weight: 500;
}
.header .container p {
  color: #fff;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.6rem;
  margin: 2rem 0 2.5rem 0;
}

.container {
  position: relative;
  width: 80%;
  max-width: 1080px;
  margin: auto;
}

.section-1 {
  height: auto;
  padding: 10vh 0;
}
.section-1 .about-img {
  width: 100%;
}
.section-1 .d-grid {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2.5rem;
}
.section-1 .d-grid .about-info h2 {
  font-size: 1.9rem;
  color: #292929;
}
.section-1 .d-grid .about-info span {
  color: #22A0BB;
  font-size: 0.8rem;
}
.section-1 .d-grid .about-text {
  margin: 1rem 0 1.5rem 0;
}
.section-1 .d-grid .about-text p {
  color: #292929;
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.6rem;
  margin-bottom: 12px;
}

.section-2 {
  padding: 10vh 0 15vh 0;
  background: #4B7A85;
  height: auto;
}
.section-2 h2 {
  color: #fff;
  font-size: 1.9rem;
}
.section-2 span {
  color: #3EDCFF;
  font-size: 0.8rem;
}
.section-2 p {
  color: #fff;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.6rem;
  margin: 1rem 0 2rem 0;
}
.section-2 .cat-img-slider {
  margin-left: -5px;
  margin-right: -5px;
}
.section-2 .cat-img-slider .img-cat-container {
  height: 265px;
  margin: 0 5px;
  background: #fff;
}
.section-2 .cat-img-slider .img-cat-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.section-2 .cat-img-slider .slick-dots {
  display: flex;
  position: absolute;
  left: 5px;
  bottom: -45px;
}
.section-2 .cat-img-slider .slick-dots li {
  height: 10px;
  width: 10px;
  border: 1px solid #fff;
  border-radius: 50px;
  margin-right: 15px;
}
.section-2 .cat-img-slider .slick-dots li.slick-active {
  background: #fff;
}
.section-2 .cat-img-slider .slick-dots button {
  display: none;
}
.section-2 .btn-generate {
  position: absolute;
  right: 0;
  bottom: -60px;
}

.section-3 {
  padding: 10vh 0;
}
.section-3 h2 {
  color: #292929;
  font-size: 1.9rem;
}
.section-3 span {
  color: #22A0BB;
  font-size: 0.8rem;
}
.section-3 p {
  color: #292929;
  line-height: 1.6rem;
  margin: 1rem 0 2rem 0;
}
.section-3 .d-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.section-3 .d-flex .contactUs-text {
  max-width: 400px;
}
.section-3 .d-flex .contactUs-text .contact-icons {
  display: flex;
  align-items: center;
}
.section-3 .d-flex .contactUs-text .contact-icons li {
  margin-right: 2rem;
}
.section-3 .d-flex .contact-form-container {
  width: 450px;
  height: auto;
  background: #fff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 2.5rem 2.25rem;
}
.section-3 .d-flex .contact-form-container h3 {
  font-size: 1.25rem;
  color: #292929;
  margin-bottom: 1.5rem;
}
.section-3 .d-flex .contact-form-container input {
  height: 45px;
  margin-bottom: 15px;
}
.section-3 .d-flex .contact-form-container input, .section-3 .d-flex .contact-form-container textarea {
  padding: 5px 15px;
  width: 100%;
  outline: none;
  border: 1px solid #22A0BB;
  border-radius: 5px;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}
.section-3 .d-flex .contact-form-container ::-webkit-input-placeholder {
  color: #22A0BB;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}
.section-3 .d-flex .contact-form-container textarea {
  padding-top: 12px;
  resize: none;
}
.section-3 .d-flex .contact-form-container button.btn {
  outline: none;
  border: none;
  margin-top: 2.5rem;
  margin-left: auto;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

.footer {
  padding-top: 10vh;
  width: 100%;
  background: #292929;
}
.footer .d-flex {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.footer .d-flex .column-1 p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.6rem;
}
.footer .d-flex .column-2 h5 {
  font-size: 1.1rem;
  color: #fff;
  margin-bottom: 1.2rem;
}
.footer .d-flex .column-2 ul li {
  margin-bottom: 10px;
}
.footer .d-flex .column-2 ul li a {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
  font-weight: 200;
}
.footer .d-flex .column-3 h5 {
  font-size: 1.1rem;
  color: #fff;
  margin-bottom: 1.2rem;
}
.footer .d-flex .column-3 ul {
  display: flex;
  align-items: center;
}
.footer .d-flex .column-3 ul li {
  margin-right: 30px;
}
.footer .footer-lower {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 100%;
  margin-top: 10vh;
  background: #1D1D1D;
}
.footer .footer-lower span {
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.5);
}

.btn {
  padding: 10px 30px;
  background: #22A0BB;
  border-radius: 5px;
  color: #fff;
}

.btn-back {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  background: #22A0BB;
  position: fixed;
  bottom: 5%;
  right: 5%;
  display: none;
  width: max-content;
}
.btn-back img {
  height: 30px;
  width: 30px;
  margin: 0 10px;
}

.btn-show {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=main.css.map */
